<!DOCTYPE html>
<html lang="nl">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main class="no-background_img">
        <% if (userInfo) { %>
            <section class="account">
                <h1>Hoi <%= userInfo.name %>!</h1>
                <section>
                    <h2>Account instellingen</h2>
                    <%- include('../partials/edit-form'); %>
                </section>
            </section>
            <% } %>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>